/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------------------- FIN DU RESET --------------------------------------------------- */


html{
	font-size: 16px;
}

html, body{
	margin: 0;
	height: 100%;
}

body{
	font-family: big-caslon-fb, serif;
	font-weight: 400;
	font-style: normal;
}

*{
	box-sizing: border-box;
}

.drawer{
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: auto;
	overflow-x: hidden;
}

#title{
	left:0;
	background: #FFF;
	width: 252px;
	padding: 47px;
}

#content{
	left:252px;
	right: 0;
}

#info{
	left: 0;
	background: #F2E0CD;
	padding:68px 38px;
	cursor: pointer;
}

#main{
	right: 0;
	background: #000;
	color: #FFF;
	padding:123px 90px;
	font-size: 3.1875rem;
	line-height: 1.25em;
}

#info, #main{
	transition: width 2s ease;
}

#info{
	width: 35%;
}
#info.loading{
	width: 72px;
}

#info.loading * {
	display: none;
}


#main{		
	width: 65%;
}
#main.loading{
	width: calc(100% - 72px);
}


.drawer.loading .togglebloc.hideonclose{
	display: block;
}
.drawer.loading .togglebloc.hideonopen{
	display: none;
}


.drawer .togglebloc.hideonclose{
	display: none;
}
.drawer .togglebloc.hideonopen{
	display: block;
}






#info h1{
	font-size: 3.1875rem;
	margin-bottom: 30px;
}

#info>div{
	min-width: 300px;
	margin-bottom: 30px;
}

#info>div h2{
	font-size: 1.625rem;
}

#info>div p{
	font-size: 1.25rem;
}


#main #contact{
	position: absolute;
	bottom: 53px;
	right: 60px;
}




.mirror{
	transform: rotate(180deg);
	transform-origin: center;
	display: block;
}
